.register-container{
    width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}

.bg-background{
    width: 25%;
}

.form-style{
    width: 400%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}